@source '../views/**/*.blade.php';

/* base background color for entire app */
.fi-layout {
    background-color: rgb(238, 238, 238) !important;
}

/* widen the content by reducing padding x */
.fi-main {
    padding-inline: 1.25rem !important;
    padding-top: 1.125rem;

    @media (width >= 40rem) {
        padding-inline: 1.5rem !important;
    }
}

.fi-page-header-main-ctn {
    @apply gap-4 pt-4 pb-6;
}

.accelerator-sidebar-tenant-menu {
    & .fi-tenant-menu {
        @apply mx-0 mt-0;
    }

    & .fi-tenant-menu-trigger {
        @apply flex w-full items-center gap-3 rounded-xl bg-gray-100/60 px-2 py-2 text-sm ring-1 ring-gray-950/5 outline-hidden transition-colors hover:bg-gray-100 focus-visible:bg-gray-100 dark:bg-white/5 dark:ring-white/10 dark:hover:bg-white/10 dark:focus-visible:bg-white/10;
    }

    & .fi-tenant-menu-trigger-text {
        @apply min-w-0 flex-1;
    }
}

/* hide topbar when sidebar is hidden. sidebar toggler replaced with other methods */
.fi-layout-sidebar-toggle-btn-ctn {
    display: none !important;
}

/* dense table row */
.fi-ta-cell,
.fi-ta-text-item,
.fi-ta-icon,
.fi-ta-image,
.fi-ta-text-has-descriptions,
.fi-ta-text {
    @apply py-1.5;
}
